<h1><%= @company.name %></h1>
<h2>Given Contacts</h2>
<% if @company.company_contacts.present? %>
  <% @company.company_contacts.each do |contact| %>
    <%= contact.firstname %>
    <%= contact.lastname %>
    <%= contact.phone %>
    <%= contact.email %>
    <br>
  <% end %>
<% end %>
<br>
<h2>Sponsoring Packages</h2>
<% if @company.company_contacts.present? %>
  <% @company.sponsorings.each do |package| %>
   <%= package.name %>
   <%= package.net_price %>
   <%= package.description%>
  <% end %>
<% end %>
