<h1><%= @speaker.firstname %></h1>
<%= @speaker.lastname %>
<%= @speaker.email %>
<%= @speaker.bio %>
<%= @speaker.twitter_handle %>
<%= @speaker.talk_title %>
<%= @speaker.abstract %>
<%= @speaker.talk_level %>
<%= image_tag @speaker.photo %>
